@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');


@theme {
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-michroma: "Michroma", sans-serif;
  --font-redrose: "Red Rose", serif;
}

html, body {
  overflow-x: hidden;
}