@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-michroma: "Michroma", sans-serif;
  --font-redrose: "Red Rose", serif;
}

html, body {
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }